{% extends "base_generic.html" %}

{% block content %}
<h3>Recent Speeches</h3>
<ul>
    {% for a in speeches %}
    <li>{{a.title}}, {{a.speech_date}}, {{a.speaker}}</li>
    <li>
        {{a.title}}
    </li>
    <h1> 
        
    </h1>
    {% endfor %}
</ul>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}